:root {
    --black: rgb(58, 58, 58);
    --grey: rgb(205, 205, 205);
    --dark-grey: rgb(131, 130, 130);
    --white: #f0f0f0;
    --blue: rgb(53, 156, 253);
    --blue-dark: rgb(1, 57, 179);
    --light-blue: rgb(82, 185, 253);
    --red: rgb(240, 11, 11);
    --font-light: "AirbnbCerealLight", sans-serif;
    --font-book: "AirbnbCerealBook", sans-serif;
    --font-black: "AirbnbCerealBlack", sans-serif;
    color: var(--black);
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
  .calendar {
    box-sizing: content-box;
    font-size: 1rem;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .calendar .header {
    background-color: var(--light-blue);
    text-align: center;
    min-height: 3rem;
    line-height: 3rem;
    color: var(--black);
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
    box-sizing: border-box;
  }
  
  .calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  
  .calendar .body {
    border: 1px solid var(--light-blue);
    background-color: white;
  }
  
  .calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--blue-dark);
    font-size: 20px;
  }
  
  .calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--blue-dark);
    font-size: 20px;
  }
  
  .calendar .week {
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid  var(--grey);
    color: var(--black);
    font-weight: 400;
  }

  .calendar .week div {
    width: 100%;
  }
  
  .calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 64px;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
  }

  .calendar .day div {
    position: relative;
    color: var(--black);
    cursor: pointer;
    z-index: 100;
    line-height: 64px;
    padding: 2px;
  }

  .calendar .week:first-child, .calendar .week:last-child, .calendar .day:nth-child(1) div, .calendar .day:nth-child(7) div {
    color: var(--red);
  }

  .calendar .day div.before {
    color: var(--grey);
  }
  
  .calendar .day div.selected {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
  }
  
  .calendar .day div.today {
    background-color: var(--grey);
  }

  .modal {
    width: 500px;
  }

  .addEvent {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .addEvent.active {
    opacity: 1;
    pointer-events: all;
  }

  .headerModal {
    height: 25px;
    width: 100%;
    background-color: var(--light-blue);
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
  }
  
  .modalContent {
    border-radius: 12px;
    background-color: white;
    width:80vw;
    transform: scale(0.5);
    transition: 0.4s all;
  }

  .modalContent.active {
    transform: scale(1);
  }